$c-white: #FDFDFD !default;
$c-dark: #24292e !default;
$c-light: #EEEEEE !default;
$c-red: #ff5851 !default;
$c-grey: #999 !default;
$c-darkgrey: #051c33 !default;
$c-turquoise: #0076BB !default;

$c-turquoise-50: #F1F6FB !default;
$c-turquoise-100: #D8E8F6 !default;
$c-turquoise-200: #A5CAEB !default;
$c-turquoise-300: #5FA8DC !default;
$c-turquoise-400: #008DCE !default;
$c-turquoise-500: #0076BB !default;
$c-turquoise-600: #00629C !default;
$c-turquoise-700: #005387 !default;
$c-turquoise-800: #003E6A !default;

$c-darkblue-50: #F3F5F9 !default;
$c-darkblue-100: #DDE2ED !default;
$c-darkblue-200: #AFBDD6 !default;
$c-darkblue-300: #768EB9 !default;
$c-darkblue-400: #4868A1 !default;
$c-darkblue-500: #1E4488 !default;
$c-darkblue-600: #14316B !default;
$c-darkblue-700: #021C4E !default;
$c-darkblue-800: #000135 !default;

$c-lightblue-50: #F3F4F8 !default;
$c-lightblue-100: #E1E6EF !default;
$c-lightblue-200: #C7D2E3 !default;
$c-lightblue-300: #9FB5D1 !default;
$c-lightblue-400: #7A9BC0 !default;
$c-lightblue-500: #5B89B4 !default;
$c-lightblue-600: #44688A !default;
$c-lightblue-700: #2D4B66 !default;
$c-lightblue-800: #193248 !default;

$c-purple-50: #F6F6FB !default;
$c-purple-100: #E6E6F2 !default;
$c-purple-200: #C7C9E2 !default;
$c-purple-300: #9FA4D0 !default;
$c-purple-400: #7F88C2 !default;
$c-purple-500: #5E6DB3 !default;
$c-purple-600: #4F5B97 !default;
$c-purple-700: #434D82 !default;
$c-purple-800: #313865 !default;

$c-lightgrey-50: #F4F5F6 !default;
$c-lightgrey-100: #E9EEF1 !default;
$c-lightgrey-200: #CFD9E1 !default;
$c-lightgrey-300: #AEBFCC !default;
$c-lightgrey-400: #94ABBB !default;
$c-lightgrey-500: #7B98AB !default;
$c-lightgrey-600: #67899F !default;
$c-lightgrey-700: #3E5D6F !default;
$c-lightgrey-800: #2F4653 !default;

$c-darkgrey-50: #F1F1F1 !default;
$c-darkgrey-100: #E2E1E3 !default;
$c-darkgrey-200: #C3C3C7 !default;
$c-darkgrey-300: #97989E !default;
$c-darkgrey-400: #60646D !default;
$c-darkgrey-500: #313E48 !default;
$c-darkgrey-600: #1E2A33 !default;
$c-darkgrey-700: #0C1720 !default;
$c-darkgrey-800: #000000 !default;

$c-red-50: #FEF4F2 !default;
$c-red-100: #FDDFDB !default;
$c-red-200: #F9B7AF !default;
$c-red-300: #EB8279 !default;
$c-red-400: #DE5552 !default;
$c-red-500: #CE202F !default;
$c-red-600: #B8222A !default;
$c-red-700: #A81623 !default;
$c-red-800: #75010A !default;

$c-orange-50: #FFF7F4 !default;
$c-orange-100: #FEEAE1 !default;
$c-orange-200: #FCCFBB !default;
$c-orange-300: #F9AF8D !default;
$c-orange-400: #F79669 !default;
$c-orange-500: #F47E48 !default;
$c-orange-600: #CF6B3A !default;
$c-orange-700: #AB582F !default;
$c-orange-800: #85421F !default;

$c-yellow-50: #FCFAF2 !default;
$c-yellow-100: #F7F2E0 !default;
$c-yellow-200: #F2E9C7 !default;
$c-yellow-300: #EADB9E !default;
$c-yellow-400: #E1CF77 !default;
$c-yellow-500: #DBC553 !default;
$c-yellow-600: #C0A242 !default;
$c-yellow-700: #A37F3B !default;
$c-yellow-800: #805F29 !default;

$c-green-50: #F3F7F4 !default;
$c-green-100: #E1EBE6 !default;
$c-green-200: #BFD7CC !default;
$c-green-300: #94C1AE !default;
$c-green-400: #72B299 !default;
$c-green-500: #4AA486 !default;
$c-green-600: #3D8C71 !default;
$c-green-700: #317861 !default;
$c-green-800: #1E5D4A !default;
